<div class="header">
  <h1 class="header__title"> {{ title }} </h1>

  <form class="header__container" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label for="">Please, enter your name</label>

      <input type="text" [(ngModel)]="name" (keyup.enter)="addNewName()" formControlName="name">

      <div *ngIf="form.get('name').invalid && form.get('name').touched" class="validation">
        <small *ngIf="form.get('name').errors.required"> Name cant be empty</small>
        <small *ngIf="form.get('name').errors.minlength">
          Unvalid name(too short) {{form.get('name').errors.minlength.requiredLength}}
          {{form.get('name').errors.minlength.actualLength}}
        </small>
      </div>

    </div>
    <button (click)="addNewName()" type="submit" [disabled]="form.invalid">Submit</button>
  </form>

</div>
