//Mixins
@mixin basic($height, $width) {
  height: $height;
  width: $width;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dis-flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

//animation
@keyframes slide-bottom {
  0% {
    width: 100%;
    height: 100vh;
    // background-color: $light;
    border-bottom-right-radius: 0;
  }
  100% {
    width: 10%;
    height: 10vh;
    // background-color: $dark-grey;
    border-bottom-right-radius: 5rem;
  }
}

@keyframes slide-reverse {
  0% {
    width: 10%;
    height: 10vh;
    // background-color: $dark-grey;
    border-bottom-right-radius: 5rem;
  }
  100% {
    width: 100%;
    height: 100vh;
    // background-color: $light;
    border-bottom-right-radius: 0;
  }
}

@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes opacityAn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.opacityAn {
  animation: opacityAn 0.3s both;
}

.slideBottom {
  animation: slide-bottom 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slideReverse {
  animation: slide-reverse 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.captionText {
  animation: captionText 2s both;
}
