@import "../../styles.scss";

.main {
  width: 100%;
  min-height: 100vh;
  @include flex-center;
  flex-direction: column;
  background-color: $light;

  &__title {
    font-family: $ltb;
    font-size: $f40;
  }

  &__start-game {
    @include flex-center;
    flex-direction: column;
  }

  &__label {
    font-family: $lt;
    color: rgba($color: $light-grey, $alpha: 0.7);
    font-size: $f16;
  }

  &__input {
    font-family: $lt;
    margin: 0.5rem 0 1rem 0;
    width: 5rem;
    font-size: $f18;
  }

  &__button {
    border-radius: 50%;
    @include basic(40rem, 40rem);
    background-color: $red;
    color: $light;
    font-size: $f50;
    transition: all 0.3s ease-in-out;
    animation: shadow-pulse 1s infinite;

    &:hover {
      animation: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__timer {
    font-family: $lt;
    margin: 1rem 0;
    font-size: $f18;

    &--italic {
      font-style: italic;
      font-weight: bolder;
    }
  }

  &__info {
    font-family: $lt;
    margin: 1rem 0;
    font-size: $f18;
  }
}
