<div class="header" [ngClass]="{
  fullscreen: !showVar,
  slideBottom: showVar,
  fullscreenNon: showVar,
  slideReverse: !showVar
}">
  <h1 class="header__title"> {{ title }} </h1>
  <div *ngIf="show; else showReset" class="header__container">
    <label for="">Please, enter your name</label>
    <input #newName (keyup.enter)="emitNewName(newName.value)" type="text">
    <button 
    (click)="emitNewName(newName.value)" 
    (click)="toggleChild(showVar)" 
    (click)="show = !show">Submit</button>
  </div>

  <ng-template #showReset class="header__container">
    <button (click)="toggleChild(showVar)" 
    (click)="show = !show">Restart</button>
  </ng-template>
  
</div>